
*.csv
*.pyc
data/curated/OriginalData_AddDerived/.DS_Store
.DS_Store
models/AFL_pipeline.pickle
models/AFL_pipeline.pickle
*.pickle
*.pickle
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/BrownlowPredictorPlus.iml
